@media screen and (max-width:900px){
    .grid-galeria{
        grid-template-columns: repeat(2, 1fr);
        grid-column: span 1;
        grid-row: span 1;
    }
}
    @media screen and (max-width:500px){
        .grid-galeria{
            grid-template-columns: repeat(1, 1fr);
            grid-column: span 1;
            grid-row: span 1;
        
        }
    }   